{
	"env": {
		"commonjs": true,
		"es6": true,
		"jest": true,
		"node": true
	},
	"extends": ["eslint:recommended", "happiness"],
	"rules": {
		"arrow-parens": ["error", "as-needed"],
		"callback-return": ["warn"],
		"constructor-super": ["error"],
		"curly" : ["error", "multi-line"],
		"no-case-declarations": "off",
		"no-console": ["warn"],
		"no-constant-condition": ["warn"],
		"no-dupe-args": ["error"],
		"no-dupe-class-members": ["error"],
		"no-dupe-keys": ["error"],
		"no-eval": ["error"],
		"no-extra-semi": ["warn"],
		"no-func-assign": ["warn"],
		"no-implied-eval": ["error"],
		"no-invalid-this": ["error"],
		"no-irregular-whitespace": ["warn"],
		"no-new-func": ["error"],
		"no-new-wrappers": ["error"],
		"no-obj-calls": ["error"],
		"no-this-before-super": ["error"],
		"no-unexpected-multiline" : ["error"],
		"no-unneeded-ternary": ["error"],
		"no-unreachable": ["warn"],
		"no-var": ["error"],
		"no-with": ["error"],
		"object-shorthand": ["warn", "methods"],
		"prefer-arrow-callback": ["warn"],
		"prefer-template": ["warn"],
		"radix": ["error"],
		"strict": ["error", "global"],
		"valid-jsdoc": ["warn"]
	},
	"parser": "babel-eslint"
}
